body{
    font-family: 'Poppins', sans-serif;
    color: #3b3b3b;
    height: 100%; 
    background-color: #eff8fd;
}
html{
    height: 100%;
    min-height: 100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, a{
    font-family: 'Poppins', sans-serif;
}
ul, li{ margin: 0; padding: 0; list-style: none;}
a{
    cursor: pointer;
    &:hover, &:focus{
        text-decoration: none;
        outline: none;
    }
}
img{
    max-width: 100%;
}

.wrapper{
    height: 100%;  
}
.content{
    margin-top: 35px;
}
.main-body{
    margin-top: 100px;
    margin-bottom: 90px;
}

.leftPanel{
    width: 380px;
    float: left;
    margin-right: 25px;
}
.rightPanel{
    overflow: hidden;
    background: #ffffff;
    border: solid 1px #e3f0f1;
    padding: 10px;
    border-radius: 30px;
}
.chatsWrap{
    .nav-tabs{
        border-bottom: none;
        justify-content: space-between;
        .nav-item{
            &.active{
                .nav-link{
                    &.active{
                        .iconHolder{
                            &.chat{
                                background: URL('assets/images/chat-active.png') no-repeat center center;
                            }
                            &.call{
                                background: URL('assets/images/call-active.png') no-repeat center center;
                            }
                            &.contact{
                                background: URL('assets/images/contacts-active.png') no-repeat center center;
                            }
                        }
                        p{
                            color: #4097a1;
                        }
                    }
                }
            }
            .nav-link{
                border: none;
                &:hover{
                    border: none;
                }
                .iconHolder{
                    width: 30px;
                    height: 30px;
                    display: block;
                    margin: 0 auto 7px;
                    &.chat{
                        background: URL('assets/images/chat.png') no-repeat center center;
                    }
                    &.call{
                        background: URL('assets/images/call.png') no-repeat center center;
                    }
                    &.contact{
                        background: URL('assets/images/contacts.png') no-repeat center center;
                    }
                }
                p{
                    font-size: 12px;
                    font-weight: 300;
                    margin-bottom: 0;
                    color: #999999;
                }
            }
        }
    }
}


