
.box_holder{
    background: #3f95b4;
    display: $blk;
    padding: (14 * $mr10) $zro;
    .box_area{
        max-width: ($mr10 * 91 + $mr5);
        margin:  $zro $ato;
        width: $full;
        background: $bgWht;
        padding: ($mr5 * 11);
        @include radius($mr10 * 2);
        .box_header{
            margin-bottom: ($mr10 * 8); 
            h2{
                margin: $zro $zro ($mr10 + $mr5);
                font-size: ($mr10 * 5 - 2);
                color: $blak;
                font-weight: $mdum;
                font-family: $ffmly;
            }
            span{
                display: $blk;
                color: #7a7a7a;
                font-weight: $nrml;
                font-size: ($mr12 * 2);
                line-height: normal;
            }
        }
        .box_middle{
            .form-group{
                .form-control{
                    color: #7a7a7a;
                    font-size: 28px;
                    font-weight: $nrml;
                    border: $zro;
                    @include radius($zro);
                    font-family: $ffmly;
                    border-bottom: ($mr12 - $mr10) solid #a5cedc;
                    &:focus{
                        box-shadow: inherit;
                    }
                }
            } 
        }
    }
}

.login_holder{
    .box_middle{
        .form-group{
            span{
                display: $blk;
                font-size: 28px;
                color: #666767;
                font-weight: $nrml;
                margin-bottom: ($mr10 * 3);
                padding-top: ($mr10 * 2);
                font-family: $ffmly;
                a{
                    display: $inblk;
                }
            }
            a{
                color: #3f95b4;
                display: $inblk;
                font-size: 28px;
            }
        }
        .d-flex{
            button{
                background: #007481;
                height: ($mr10 * 5);
                padding: $zro ($mr10 * 4);
                border: $zro;
                font-size: ($mr12 * 2);
                font-weight: $nrml;
                @include radius($mr10 * 3);
                font-family: $ffmly;
            }
        }
    }
}

.signup_holder{
    .crt_pass{
        .pass_text{
            padding-top: $mr10;
            padding-bottom: ($mr10 * 2);
            p{
                margin: $zro;
                color: #7a7a7a;
                font-size: 14px;
                font-family: $ffmly;
                span{
                    color: #007481;
                }
            }
        }
    }
    .box_header{
        margin: $zro $zro ($mr5 * 6) !important;
        h2{
            margin: $zro !important;
        }
        span{
            margin-top: $mr10;
        }
    }
    .box_middle{
        .form-group{
            .input-group-prepend{
                border-right: 1px solid #a5cedc; 
                border-bottom: 2px solid #a5cedc; 
                margin: $zro;
                select{
                    border: $zro;
                    outline: $zro;
                    width: ($mr10 * 10);
                    appearance: none;
                    color: #7a7a7a;
                    font-size: 28px;
                    font-weight: $nrml;
                }
            }
        }
        .d-flex{
            button.backbtn{
                margin-right: $mr10;
                color: #494949;
                background: #cccccc;
            }
        }
    }
}

.profile_pic{
    .box_header{
        .d-flex{
            a{
                color: #007481;
                font-size: ($mr12 * 2);
                font-weight: $nrml;
                font-family: $ffmly;
            }
        }
    }
    .box_middle{
        .custom-file{
            margin-bottom: ($mr10 * 2);
            height: $ato;
            text-align: $crt;
            .custom-file-input{
                position: $abs;
                opacity: $zro;
                left: ($full / 2);
                height: $full;
                transform: translate(-$full / 2);
                width: 138px;
                cursor: pointer;
            }
            .custom-file-label{
                position: $rel;
                height: $ato;
                margin: $zro $ato;
                border: $zro;
                cursor: pointer;
                span{
                    font-size: 14px;
                    color: #007481;
                    font-weight: $nrml;
                    font-family: $ffmly;
                }
                figure{
                    width: 138px;
                    height: 138px;
                    position: $rel;
                    border-radius: ($full / 2);
                    background: #eee;
                    img{
                        position: $abs;
                        width: $full;
                        height: $full;
                        left: $zro;
                        top: $zro;
                        border-radius: 50%;
                    }
                }
                &:focus{
                    box-shadow: inherit;
                }
                &:after{
                    display: $non;
                }
            } 
        }
    }
}

.audio_test{
    .audio_check{
        text-align: $crt;
        margin-bottom: ($mr10 * 3);
        strong{
            display: $blk;
            font-weight: $bld;
            color: #3e3e3e;
            font-size: ($mr12 * 2);
            font-family: $ffmly;
            margin: $zro $zro ($mr10 * 2);
        }
        p{
            color: #7a7a7a;
            font-size: ($mr12 * 2);
            font-weight: $nrml;
            font-family: $ffmly;
            margin: $zro $zro ($mr5 * 5);
            a{
                color: #007481;
            }
        }
    }
}

.forget_holder{
    .box_middle{
        .user_name,
        .message{
            margin: $zro $zro ($mr10 * 4);
            span{
                display: $blk;
                color: #7a7a7a;
                font-size: 28px;
                font-weight: $nrml;
                font-family: $ffmly;
            }
        }
       
    }
}

// font-family: 'Poppins', sans-serif;
