
.form-control{
    &:focus{
        -webkit-box-shadow: 0px 0px 10px 0px rgba(64,149,238,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(64,149,238,1);
        box-shadow: 0px 0px 10px 0px rgba(64,149,238,1);
    }
}

.rounder-corner{
    border-radius: 20px;
}
.box-shadow{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(54,62,65,0.32);
    -moz-box-shadow: 0px 0px 10px 0px rgba(54,62,65,0.32);
    box-shadow: 0px 0px 10px 0px rgba(54,62,65,0.32);
}

.btn{
    border-radius: 0;
}
/*bg-colors*/

.bg-orange{background: #f5a341;}
.bg-aqua{ background: #00c7b7;}
.bg-green{background: #2de39b;}
.bg-red{ background: #fb6d77;}
.bg-sky{background: #2ac2f9;}
.bg-main{ background: #4083ee;}
.bg-yellow{background: #eed11a;}

.text-green{color: #39b67a;}
.text-red{ background: #fb6d77;}

.btn-green{
    background: #39b67a;
    border-radius: 2px;
    color: #fff !important;
    font-size: 15px;
    font-weight: 600;
}
.btn-red {
    background: #fc2424;
    border-radius: 2px;
    color: #fff !important;
    font-size: 15px;
    font-weight: 600;
}
.btn-blue {
    background: #3ac2f1;
    border-radius: 2px;
    color: #fff !important;
    font-size: 15px;
    font-weight: 600;
}

$inblk: inline-block;
$blk: block;
$non: none;
$rel: relative;
$abs: absolute;
$ato: auto;
$lft: left;
$rtl: right;
$crt: center;

$zro: 0;
$mr5: 5px;
$mr10: 10px;
$mr12: 12px;
$full: 100%;


$bgWht: #fff;
$blak: #000;

$nrml: 400;
$mdum: 500;
$bld : 600;

$ffmly:'Poppins', sans-serif;




@mixin radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin flex(){
    display: -webkit-flex;
    display: flex;
}






