<div class="chatSideBar">
    <div class="top">
        <div class="form-group">
            <input class="form-control" type="search" placeholder="Search or start new chat" />
        </div>
    </div>
    <div class="bottom">
        <tabset class="chatsWrap">
            <tab>
                <ng-template tabHeading>
                    <div class="iconHolder chat"></div>
                    <p>Chats</p>
                </ng-template>
                <div class="chatsConent">
                    <ul>
                        <li *ngFor="let item of chatList">
                            <div class="left clearfix">
                                <div class="imgHolder">
                                    <img src="{{item.pic}}"/>
                                </div>
                                <div class="desc">
                                    <h2>{{item.name}}</h2>
                                    <h3>{{item.msg}}</h3>
                                </div>
                            </div>
                            <div class="right">
                                <h4>{{item.time}}</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <div class="iconHolder call"></div>
                    <p>Call</p>
                </ng-template>
                <div class="chatsConent">
                    <ul>
                        <li *ngFor="let item of callList">
                            <div class="left clearfix">
                                <div class="imgHolder">
                                    <img src="{{item.pic}}"/>
                                </div>
                                <div class="desc">
                                    <h2>{{item.name}}</h2>
                                    <h3>{{item.lastcall}}</h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <div class="iconHolder contact"></div>
                    <p>Contacts</p>
                </ng-template>
                <div class="chatsConent withContacts">
                    <ul>
                        <li *ngFor="let item of contactList">
                            <div class="left clearfix">
                                <div class="imgHolder">
                                    <img src="{{item.pic}}"/>
                                </div>
                                <div class="desc">
                                    <h2>{{item.name}}</h2>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </tab>
        </tabset>
    </div>
</div>