.chatSideBar{
    border: solid 1px #e3f0f1;
    padding: 20px;
    border-radius: 30px;
    .top{
        .form-group{
            position: relative;
            .form-control{
                border: solid 1px #e3f0f1;
                border-radius: 30px;
                background: #ffffff URL('assets/images/search-icon.png') no-repeat left 20px top 19px;
                padding: 20px 10px 20px 50px;
                height: 50px;
            }
        }
    }
    .chatsConent{
        &.withContacts{
            ul{
                li{
                    .left{
                        .desc{
                            h2{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        ul{
            padding-left: 0;
            margin-bottom: 0;
            li{
                list-style: none;
                display: flex;
                justify-content: space-between !important;
                -webkit-box-pack: justify !important;
                -ms-flex-pack: justify !important;
                padding: 15px;
                margin-left: -20px;
                margin-right: -20px;
                cursor: pointer;
                .left{
                    .imgHolder{
                        width: 45px;
                        height: 45px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 15px;
                        img{
                            border-radius: 50%;
                        }
                    }
                    .desc{
                        display: inline-block;
                        vertical-align: middle;
                        h2{
                            font-weight: 300;
                            color: #000000;
                            font-size: 12px;
                        }
                        h3{
                            font-weight: 300;
                            color: #7a7a7a;
                            font-size: 12px;
                            margin-bottom: 0;
                        }
                    }
                }
                .right{
                    h4{
                        font-weight: 300;
                        color: #000000;
                        font-size: 12px;
                        &.notOpened{
                            font-weight: 600;
                        }
                    }
                }
                &:hover{
                    background: #f0f0f0;
                }
            }
        }
    }
}



    