<header class="header container-fluid py-3">
    <div class="row">
        <div class="col-2 logo">
            <a class="d-inline-block" href="./" *ngIf="logo">
                <img [src]="logo" alt="logo" title="Boorcom">
            </a>
        </div>
        <div class="col d-flex rightUser justify-content-end">
            <ul *ngIf="isLogin">
                <li class="dropdown user" dropdown>
                    <a dropdownToggle class="dropdown-toggle" aria-haspopup="true" aria-expanded="true">
                        <span class="user-profile"><img src="assets/images/dp-login.png"/></span>
                        <span class="name"> {{ name }} </span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" routerLink=""
                                routerLinkActive="active">My Profile</a></li>
                        <li><a role="menuitem" tabindex="-1">Change
                                Password</a></li>
                        <li><a role="menuitem" tabindex="-1" (click)="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>