.header{
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: solid 1px #ceddde;

    .logo{
        border-right: solid 1px #e5f1f2;
        padding-top: 15px;
    }
    .rightUser{
        ul{
            padding-left: 0;
            margin-bottom: 0;
            li.dropdown{
                &.user{
                    list-style: none;
                }
                a{
                    &::after{
                        display: none;
                    }
                    span{
                        &.user-profile{
                            margin-right: 10px;
                            width: 53px;
                            height: 53px;
                            display: inline-block;
                            img{
                                max-width: 100%;
                                border-radius: 50%;
                                margin-left: 0 !important;
                            }
                        }
                    }
                }
                .dropdown-menu{
                    li{
                        text-align: right;
                        a{
                            padding: 5px 10px;
                            display: block;
                            font-size: 13px;
                            color: #4097a1;
                            &:hover, &:focus{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
