<div class="wrapper">
        <app-header></app-header>
        <div class="login_holder box_holder"><!--login_holder-->
            <div class="box_area"><!--box_area-->
                <div class="box_header">
                    <h2>Sign In</h2>
                    <span>to continue</span>
                </div>
    
                <div class="box_middle" *ngIf="step1Show">
                    <form [formGroup]="loginFormS1" (ngSubmit)="step1Check()">
    
                        <div class="form-group">
                          <input type="text" name="userName" class="form-control" placeholder="Email, or phone no" required formControlName="userName" [ngClass]="{ 'is-invalid': (submittedS1 && step1.userName.errors) || responseError}">                      
                          <div class="invalid-feedback" *ngIf="submittedS1 && step1.userName.errors">
                            <div *ngIf = "step1.userName.errors.required">Email, or phone number is required</div>
                          </div>
                          <div class="invalid-feedback" *ngIf="submittedS1 && responseError && !step1.userName.errors">
                            <div>{{ responseError }}</div>
                          </div>
                        </div>
                       
                        <div class="form-group">
                            <span>
                                No account? <a (click)="createAccount()">Create one?</a>
                            </span>
                            <a (click)="forgetName()">Forgot username</a>
                        </div>
    
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" class="btn btn-primary"  >Sign in</button>
                        </div>
                      </form>
                </div>

                <div class="box_middle" *ngIf="step2Show">
                    <form [formGroup]="loginFormS2" (ngSubmit)="onSubmit()">
                        <div class="form-group" *ngIf="name">
                            <span>Hi  {{ name }}</span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" autocomplete="off" placeholder="Enter your password!" required formControlName="password" [ngClass]="{ 'is-invalid': (submittedS2 && step2.password.errors) || responseError }">
                            <div class="invalid-feedback" *ngIf="submittedS2 && step2.password.errors">
                                <div *ngIf="step2.password.errors.required">Password is required</div>
                            </div>
                            <div class="invalid-feedback" *ngIf="submittedS2 && responseError">
                                <div>{{ responseError }}</div>
                              </div>
                        </div>
                       
                        <div class="form-group">
                            <span>
                                No account? <a (click)="createAccount()">Create one?</a>
                            </span>
                            <a (click)="forgetName()">Forgot username</a>
                        </div>
    
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" class="btn btn-primary"  >Sign in</button>
                        </div>
                      </form>
                </div>

                
            </div><!--box_area-->
        </div><!--login_holder-->
        <app-footer></app-footer>
    </div>


