footer{
    background: #ececec;
    padding: 60px 0;
    text-align: center;
    img{
        margin: 0 auto;
    }
    p{
        color: #3f95b4;
        font-size: 12px;
        margin-top: 15px;
        font-weight: 400;
    }
}