<div class="wrapper">
    <app-header></app-header>
    <div class="signup_holder login_holder box_holder"><!--login_holder-->
        <div class="box_area" *ngIf="stepOne"><!--box_area--> 
            <div class="box_header">
                <h2>Create account</h2>               
            </div>
            <div class="box_middle">
                <form [formGroup]="signupOneForm" (ngSubmit)="signupOne()">                   
                    <div class="form-group">
                        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend" *ngIf=countryList>
                                <select class="form-control" id="call_prefix" formControlName="call_prefix">
                                    <option *ngFor="let country of countryList" value="{{ country.call_prefix }}" >{{ country.name }} (+{{ country.call_prefix }})</option>                                
                                </select>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Phone number" formControlName="username" [ngClass]="{ 'is-invalid': submitted && (s1.username.errors || responseError)}">
                            <div *ngIf="submitted && s1.username.errors" class="invalid-feedback">
                                <div *ngIf="s1.username.errors.required">Phone number is required</div>
                                <div *ngIf="s1.username.errors.minlength">Phone number should be minimum 4 digit.</div>                                  
                            </div>
                            <div *ngIf="submitted && responseError" class="invalid-feedback">
                                <div>{{ responseError }}</div>                                
                            </div>
                        </div>
                    </div>
                
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-primary" >Next</button>
                        <button type="button" class="btn backbtn" (click)="cancelRegistration()">Back</button>
                    </div>
                </form>
            </div>      
        </div><!--box_area-->

        <div class="box_area crt_pass" *ngIf="stepTwo"><!--box_area-->
            <div class="box_header">
                <h2>Create password</h2>
                <span>Enter the password you would like to use with your account.</span>               
            </div>
            <div class="box_middle">
                <form [formGroup]="signupTwoForm" (ngSubmit)="signupTwo()">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Create password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && s2.password.errors }" autocomplete="new-password">
                        <div *ngIf="submitted && s2.password.errors" class="invalid-feedback">
                            <div *ngIf="s2.password.errors.required">Password is required</div>
                            <div *ngIf="s2.password.errors.validPassword">Minimum 8 characters. Atleast 1 number and 1 alphabet.</div>
                        </div>
                    </div>
                    <div class="pass_text">
                        <p>
                            By providing your phone number, you agree to receive service notifications to your mobile phone. 
Text messaging rates may apply.
                        </p>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-primary">Next</button>
                        <button type="button" class="btn backbtn" (click)="goStep1()">Back</button>
                    </div>
                </form>
            </div>
        </div><!--box_area-->

        <div class="box_area crt_acc" *ngIf="stepThree"><!--box_area-->
            <div class="box_header">
                <h2>Create account</h2>
                <span>Provide your personal Information</span>               
            </div>
            <div class="box_middle">

                <form [formGroup]="signupThreeForm" (ngSubmit)="signupThree()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && s3.firstName.errors }">
                        <div *ngIf="submitted && s3.firstName.errors" class="invalid-feedback">
                            <div *ngIf="s3.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && s3.lastName.errors }">
                        <div *ngIf="submitted && s3.lastName.errors" class="invalid-feedback">
                            <div *ngIf="s3.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && (s3.email.errors || responseError) }">
                        <div *ngIf="submitted && s3.email.errors" class="invalid-feedback">
                            <div *ngIf="s3.email.errors.required">Email is required</div>
                            <div *ngIf="s3.email.errors.email">Invalid email</div>
                        </div>
                        <div *ngIf="submitted && responseError" class="invalid-feedback">
                            <div>{{ responseError }}</div>                                
                        </div>
                    </div>

                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-primary" >Next</button>
                        <button type="button" class="btn backbtn" (click)="goStep2()">Back</button>
                    </div>
                </form>
            </div>
        </div><!--box_area-->

        <div class="box_area pho_ver crt_pass" *ngIf="stepFour"><!--box_area-->
            <div class="box_header">
                <h2>Varify phone number</h2>
                <span>We've just sent a code to +{{ callPrefix }}-{{ phoneNumber }}.</span>               
            </div>
            <div class="box_middle">
                <form [formGroup]="signupFourForm" (ngSubmit)="signupFour()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Code" formControlName="otpCode" [ngClass]="{ 'is-invalid': submitted && (s4.otpCode.errors || responseError)}">
                        <div *ngIf="submitted && s4.otpCode.errors" class="invalid-feedback">
                            <div *ngIf="s4.otpCode.errors.required">Enter your otp code</div>
                        </div>
                        <div *ngIf="submitted && responseError" class="invalid-feedback">
                                <div>Invalid OTP!</div>
                        </div>
                    </div>
                    <div class="pass_text">
                        <p>
                            Choosing <span>Next</span> means that you agree to the <span>Privacy Statement</span> and <span>Services Agreement.</span>
                        </p>
                    </div>

                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-primary" >Next</button>
                    <button type="button" class="btn backbtn" (click)="goStep3()">Back</button>
                </div>
                </form>
            </div>
        </div><!--box_area-->

        <div class="box_area profile_pic" *ngIf="stepFive"><!--box_area-->
            <div class="box_header text-center">
                <div class="d-flex flex-row-reverse">
                    <a (click)="step6()" class="skip">Skip</a>
                </div>
                
                <h2>Choose profile Picture</h2>
                <span>Add a picture that represents you to customise how others see 
                    you. You can change this from Setting > Account & Profile</span>               
            </div>
            <div class="box_middle">
                <form>
                    
                    <div class="custom-file">
                            <span style="color:red;" *ngIf="message">{{message}}</span>
                        <input #file type="file" class="custom-file-input" id="customFile" accept="image/*" (change)="preview(file.files)">
                        <label class="custom-file-label" for="customFile">
                            <figure><img [src]="imgURL" *ngIf="imgURL" alt=""></figure>
                            <span>Upload Photo <img src="assets/images/up-arrow.png" alt=""></span> 
                        </label>
                    </div>

                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-primary" (click)="step6()">Continue</button>
                </div>
                </form>
            </div>
        </div><!--box_area-->

        <div class="box_area audio_test profile_pic" *ngIf="stepSix"><!--box_area-->
            <div class="box_header text-center">
                <div class="d-flex flex-row-reverse">
                    <a (click)="step7()" class="skip">Skip</a>
                </div>
                
                <h2>Test your audio</h2>
                <span>Make sure your equipment is on and working properly.
                        You can always change from Profile > Settings > Audio & Video.</span>               
            </div>
            <div class="box_middle">
                <form>
                   <div class="audio_check">
                       <strong>Microphone</strong>
                       <p>
                            No device found. <a>Learn more</a> about fixing the issue
                       </p>
                       <strong>Speaker</strong>
                       <p>
                            No device found. <a>Learn more</a> about fixing the issue
                       </p>
                   </div>

                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-primary" (click) = "step7()">Continue</button>
                    <button type="button" class="btn backbtn" (click)="gotoStep5()">Back</button>
                </div>
                </form>
            </div>
        </div><!--box_area-->

        <div class="box_area audio_test profile_pic" *ngIf="stepSeven"><!--box_area-->
            <div class="box_header text-center">
                <div class="d-flex flex-row-reverse">
                    <a class="skip">Skip</a>
                </div>
                
                <h2>Test your video</h2>
                <span>Make sure your equipment is on and working properly.
                        You can always change from Profile > Settings > Audio & Video.</span>               
            </div>
            <div class="box_middle">
                <form>
                   <div class="audio_check">
                       <strong>Camera</strong>
                       <p>
                            No device found. <a>Learn more</a> about fixing the issue
                       </p>
                       
                   </div>

                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-primary" (click) = "finish()">Continue</button>
                    <button type="button" class="btn backbtn" (click)="gotoStep6()">Back</button>
                </div>
                </form>
            </div>
        </div><!--box_area-->


    </div><!--login_holder-->
    <app-footer></app-footer>
</div>
