


.chatMain{
    .chatMain_header{
        border-bottom: 1px solid #e5e5e5;
        padding: 12px;
        .row{
            align-items: center;
        }
        .chatMain_header_left{
            strong{
                display: block;
                font-size: 18px;
                font-weight: 500;
                color: #000;
                font-family: 'Poppins', sans-serif;
                margin: 0 0 8px;
                line-height: 16px;
            }
            span{
                display: block;
                font-size: 12px;
                color: #7a7a7a;
                font-weight: 300;
                font-family: 'Poppins', sans-serif;
                &.active{
                    padding-left: 20px;
                    position: relative;
                    &:before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 4px;
                        width: 10px;
                        height: 10px;
                        background: #4dd965;
                        border-radius: 50%;
                    }
                }
            }
            
        }
        .chatMain_header_right{
            ul{
                display: flex;
                padding: 0;
                margin: 0;
                justify-content: flex-end;
                li{
                    list-style: none;
                    margin-left: 20px;
                }
            }
        }
    }
    .chatMain_content{
        padding: 30px 0;
        display: flex;
        .chat_area{
            .chat_room{
                height: 435px;
                overflow: auto;
                ul{
                    padding: 0;
                    margin: 0;
                    li{
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 0 16px;
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            border: 1px solid #ccc;
                            padding: 3px; 
                            position: relative;
                            top: 5px;
                            left: 6px;
                            right: inherit;
                        }
                        p{
                            width: 86%;
                            font-size: 12px;
                            color: #3b3b3b;
                            font-weight: 400;
                            font-family: 'Poppins', sans-serif;
                            border: 1px solid #dfdfdf;
                            border-radius: 30px;
                            padding: 12px 26px; 
                            line-height: normal;
                            margin: 0 0 10px 2%;
                            position: relative;
                            box-shadow: -1px 2px 2px 0px rgba(0,0,0,0.1);
                            
                            &:before{
                                content: "";
                                position: absolute;
                                right: inherit;
                                left: -31px;
                                top: -3px;
                                width: 59px;
                                height: 30px;
                                background-image:url("/assets/images/corner.svg");
                            }
                        }
                        span{
                            display: block;
                            width: 100%;
                            text-align: right;
                            font-size: 10px;
                            color: #707070;
                            font-weight: 400;
                            text-transform: uppercase;
                            padding-right: 30px;
                            font-family: 'Poppins', sans-serif;
                        }
                        &:nth-child(even){
                            img{
                                order: 1;
                                left: inherit;
                                right: 6px;
                            }
                            p{
                                margin-left: 0;
                                margin-right: 2%;
                                &:before{
                                    left: inherit;
                                    right: -31px;
                                    transform: scaleX(-1);
                                }
                            }
                            span{
                                order: 3;
                                text-align: left;
                                padding-left: 30px;
                            }
                        }
                    }
                }
            }
        }
        .money_transfer{
            width: 225px;
            padding: 10px;
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    margin: 0 0 50px;
                    border-bottom: 1px solid #d9d9d9;
                    label{
                        display: block;
                        font-size: 12px;
                        color: #000;
                        font-weight: 400;
                        margin: 0 0 5px;
                        font-family: 'Poppins', sans-serif;
                    } 
                    strong{
                        display: block;
                        font-size: 14px;
                        color: #000;
                        font-weight: 400;
                        font-family: 'Poppins', sans-serif;
                    }
                    span{
                        display: block;
                        font-size: 11px;
                        color: #6d6d6d;
                        font-weight: 300;
                        font-family: 'Poppins', sans-serif;
                    }
                    select{
                        width: 100%;
                        border: 0;
                        outline: 0;
                    }
                    .text_area{
                        border: 0;
                        outline: 0;
                    }
                }
            }
        }
    }
    .chat_bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .chat_box{
            width: 85%;
            display: flex;
            justify-content: space-between;
            border: 1px solid #ccc;
            border-radius: 30px;
            padding: 8px 20px;
            
            .chat_icons{
                width: 20%;
                display: flex;
                justify-content: space-between;
                .send_btn{
                    display: none;
                    position: absolute;
                    right: 0;
                    background: #fff;
                    padding: 4px;
                    top: 0;
                }
            }
            input[type = "text"]{
                border: 0;
                outline: 0;
                width: 80%;
                font-size: 12px;
                color: #5c5c5c;
                font-weight: 300;
                height: 26px;
                font-family: 'Poppins', sans-serif;
                &:focus{
                    width: 100%;
                    + .chat_icons{
                        width: 0;
                        .hide{
                            display: none
                        }
                        .send_btn{
                            display: block;
                        }
                    }
                }
                
                
            }
        }
    }
}


.add_group{
    .modal-dialog{
        max-width: 750px;
        
        .modal-content{
            border-radius: 30px;
            padding: 0 30px;
            .modal-header{
                padding: 1rem 0rem;
                align-items: center;
                border-bottom: 2px solid #efefef; 
                h5{
                    padding-left: 60px;
                    font-size: 20px;
                    font-weight: 500;
                    color: #000;
                    font-family: 'Poppins', sans-serif;
                }
                a{
                    background: #007481;
                    color: #fff;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 42px;
                    padding: 0 50px;
                    border-radius: 30px;
                    font-family: 'Poppins', sans-serif;
                }
                .close{
                    position: absolute;
                }
            }
            .modal-body{
                .seach_box{
                    display: flex;
                    border-radius: 30px;
                    border: 2px solid #f5f5f5;
                    button{
                        padding: 0;
                        width: 8%;
                        background: none;
                        border: 0;
                        outline: 0;
                    }
                    input[type = "text"]{
                        width: 82%;
                        height: 45px;
                        border: 0;
                        outline: 0;
                        color: #5c5c5c;
                        font-size: 12px;
                        font-weight: 500;
                        border-radius: 0 30px 30px 0;
                        font-family: 'Poppins', sans-serif;
                    }
                }
                .search_result{
                    padding: 15px 0 0;
                    ul{
                        padding: 0;
                        margin: 0;
                        li{
                            list-style: none;
                            position: relative;
                            
                            
                            label{
                                margin: 0 0 5px;
                                display: flex;
                                align-items: center;
                                padding: 5px 15px;
                                cursor: pointer;
                                
                                justify-content: space-between;
                                b{
                                    display: flex;
                                    align-items: center;
                                }
                                img{
                                    width: 44px;
                                    height: 44px;
                                    border-radius: 50%;
                                }
                                strong{
                                    display: block;
                                    color: #000;
                                    font-size: 16px;
                                    font-weight: 300;
                                    margin-left: 10px;
                                    font-family: 'Poppins', sans-serif;
                                }
                            }
                            &:hover{
                                background: #eee;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*------------call-popup-----------*/

.call_popup{
    background: rgba(0,0,0,0.5);
    .modal-dialog{
        max-width: 848px;
        width: 100%;
        .modal-content{
            background: none;
            border: 0;
        }
        .modal-body{
            display: flex;
            .leftWidget{
                width: 20%;
                position: relative;
                a.nav{
                    color: #fff;
                    font-size: 24px;
                    font-weight: 500;
                    align-items: center;
                    font-family: 'Poppins', sans-serif;
                    img{
                        margin: 0 28px 0 0;
                    }
                }
                a.chat{
                    position: absolute;
                    bottom: 0;
                }
            }
            .rightWidget{
                width: 80%;
                text-align: center;
                padding: 165px 0 0;
                .callPic{
                    width: 195px;
                    height: 195px;
                    margin: 0 auto 260px;
                    border-radius: 50%;
                    border: 3px solid #007481;
                    img{
                        width: 100%;
                    }
                }
                .btn_area{
                    display: flex;
                    justify-content: center;
                    // .tab-container{
                    //     .nav-tabs{
                    //         .nav-link{
                    //             background: transparent;
                    //             border: transparent;
                    //         }
                    //     }
                    // }
                    a{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background: #fff;
                        margin: 0 25px;
                    }
                    a.call_btn{
                        background-image: URL('assets/images/call.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        display: block;
                    }
                    a.video_btn{
                        background-image: URL('assets/images/video-icon.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        display: block;
                    }
                    a.mute_btn{
                        background-image: URL('assets/images/mute.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        display: block;
                    }
                }
            }
        }
    }
}







/*---------radio-&-checkbox----------*/



input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 0em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
  position: absolute;
  right: 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : 0;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 30px;
  height           : 30px;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid #666;
  border-radius    : 50%;
  background       : none;
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
    background       : #007481;
    border           : 0;
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 30px;
  color       : #fff;
  font-size   : 0.875em;
  line-height : 30px;
  text-align  : center;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid #007481;
  border-radius    : 0.125em;
  background       : #007481;
}









