<div class="wrapper">
    <app-header [isLogin]=login></app-header>
    <div class="container">
        <div class="main-body clearfix">
            <div class="leftPanel">
                <app-chatsidebar></app-chatsidebar>
            </div>
            <div class="rightPanel">
                <div class="chatMain"><!--chatMain-->
                    <div class="chatMain_header"><!--chatMain_header-->
                        <div class="row">
                            <div class="col-6 chatMain_header_left">
                                <strong>Saymond Stafell</strong>
                                <span class="active">Active Now</span>
                            </div>
                            <div class="col-6 chatMain_header_right">
                                <ul>
                                    <li>
                                        <a data-toggle="modal" data-target="#call_popup"><img src="assets/images/vid.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" data-target="#call_popup"><img src="assets/images/call.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a><img src="assets/images/user_add.png" alt="" data-toggle="modal" data-target="#exampleModalCenter"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!--chatMain_header-->

                    <div class="chatMain_content"><!--chatMain_content-->
                       
                        <div class="chat_area"><!--chat_area-->
                            <div class="chat_room">
                                    <ng-scrollbar #scrollable
                                    [invertX]="invertX"
                                    [invertY]="invertY"
                                    [trackX]="true"
                                    [compact]="compact"
                                    [disableOnBreakpoints]="false"
                                    [disabled]="disabled"
                                    #scrollMe [scrollTop]="scrollMe.scrollHeight">
                                <ul>
                                    <li>
                                        <img src="assets/images/user-1.png" alt="profile">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        <span>11:30AM</span>
                                    </li>
                                    <li>
                                        <img src="assets/images/user-2.png" alt="profile">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        <span>11:30AM</span>
                                    </li>
                                    <li>
                                        <img src="assets/images/user-1.png" alt="profile">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        <span>11:30AM</span>
                                    </li>
                                    <li>
                                        <img src="assets/images/user-2.png" alt="profile">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        <span>11:30AM</span>
                                    </li>
                                    <li>
                                        <img src="assets/images/user-1.png" alt="profile">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        <span>11:30AM</span>
                                    </li>
                                    <li>
                                        <img src="assets/images/user-2.png" alt="profile">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        <span>11:30AM</span>
                                    </li>
                                    <li>
                                        <img src="assets/images/user-1.png" alt="profile">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        <span>11:30AM</span>
                                    </li>
                                    <li>
                                        <img src="assets/images/user-2.png" alt="profile">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        <span>11:30AM</span>
                                    </li>
                                </ul>
                            </ng-scrollbar>
                            </div>
                            <div class="chat_bottom"><!--chat_bottom-->
                                <a><img src="assets/images/smiley.png" alt="emoj"></a>
                                <div class="chat_box">
                                    <input type="text" placeholder="Type a Message">
                                    <div class="chat_icons">
                                        <a class="hide"><img src="assets/images/folder.png" alt=""></a>
                                        <a class="hide"><img src="assets/images/contacts.png" alt=""></a>
                                        <a class="hide" (click)="toggle()"><img src="assets/images/phone.png" alt=""></a>
                                        <a class="send_btn"><img src="assets/images/send-icon.png" alt=""></a>
                                    </div>
                                </div>
                                <a class="reco_icon"><img src="assets/images/mike.png" alt="voice recoding"></a>
                            </div><!--chat_bottom-->
                        </div><!--chat_area-->
                    
                        <div class="money_transfer" *ngIf="show"><!--money_transfer-->
                            <ul>
                                <li>
                                    <label>Transfer To</label>
                                    <strong>Saymond Stafell</strong>
                                    <span>+358 986123567</span>
                                </li>
                                <li>
                                    <label>Transfer To Country</label>
                                    <select>
                                        <option>Finland</option>
                                        <option>Indian</option>
                                    </select>
                                </li>
                                <li>
                                    <input type="text" placeholder="Amount" class="text_area">
                                </li>
                            </ul>
                        </div><!--money_transfer-->
                    </div><!--chatMain_content-->
                </div><!--chatMain-->

                
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<!-- Modal -->
<div class="modal fade call_popup" id="call_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body"><!--modal-body-->
            <div class="leftWidget"><!--leftWidget-->
                <a class="nav"><img src="assets/images/nav-icon.png" alt=""> Stafell</a>
                <a class="chat"><img src="assets/images/chat-icon2.png" alt=""></a>
            </div><!--leftWidget-->
            <div class="rightWidget"><!--rightWidget-->
                <div class="callPic">
                    <img src="assets/images/call-img.png" alt="">
                </div>
                <div class="btn_area">
                        <a class="video_btn"></a>
                        <a class="mute_btn"></a>
                        <a class="call_btn"></a>
                    <!-- <tabset>
                        <tab>
                            
                            <ng-template tabHeading>
                                
                                <a class="mute_btn"></a>
                            </ng-template>
                        </tab>
                        <tab><a class="video_btn"></a></tab>
                        <tab><a class="call_btn"></a></tab>
                    </tabset> -->
                </div>
            </div><!--rightWidget-->
        </div><!--modal-body-->
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade add_group" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add to Group</h5>
          <a>Done</a>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="seach_box">
              <button><img src="assets/images/serach_icon.png" alt="search"></button>
              <input type="text" placeholder="Search or start new chat">
          </div>
          <div class="search_result">
              <ul>
                  <li>
                        <input id="checkbox1" type="checkbox" name="checkbox" value="2">
                        <label for="checkbox1">
                            <b>
                                <img src="assets/images/user-1.png" alt="">
                                <strong>Saymond Stafell</strong>
                            </b>
                            <span></span>
                        </label>
                  </li>
                  <li>
                        <input id="checkbox2" type="checkbox" name="checkbox" value="2">
                        <label for="checkbox2">
                            <b>
                                <img src="assets/images/user-2.png" alt="">
                                <strong>Linda Jacobin</strong>
                            </b>
                            <span></span>
                        </label>
                  </li>
                  <li>
                        <input id="checkbox3" type="checkbox" name="checkbox" value="2">
                        <label for="checkbox3">
                            <b>
                                <img src="assets/images/user-3.png" alt="">
                                <strong>Jany Thomson</strong>
                            </b>
                            <span></span>
                        </label>
                  </li>
                  <li>
                        <input id="checkbox4" type="checkbox" name="checkbox" value="2">
                        <label for="checkbox4">
                            <b>
                                <img src="assets/images/user-4.png" alt="">
                                <strong>Oliva Mariona</strong>
                            </b>
                            <span></span>
                        </label>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

