<div class="wrapper">
    <app-header></app-header>
    <div class="forget_holder box_holder signup_holder login_holder"><!--login_holder-->
        <div class="box_area" *ngIf="stepOne" ><!--box_area-->
            <div class="box_header" >
                <h2>Recover your username</h2>
                <span>Enter an alternative email address or phone number that is associated with your Boorcom account</span>
            </div>

            <div class="box_middle">
               <form [formGroup]="forgetOneForm" (ngSubmit)="forgetOne()">
                   <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email, or phone no"
                        formControlName="firstName" 
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">Email, or phone number is required</div>
                        </div>
                    </div>
                    

                   <div class="d-flex flex-row-reverse">
                       <button class="btn btn-primary" type="submit" >Next</button>
                       <button class="btn backbtn" >Cancel</button>
                   </div>
               </form>
            </div>
            
        </div><!--box_area--> 

        <div class="box_area" *ngIf="stepTwo"><!--box_area-->
            <div class="box_header">
                <h2>Enter your security code</h2>
                <span>Enter the code that we sent to {{forgetOneForm.value.firstName}} </span>
            </div>

            <div class="box_middle">
               <form [formGroup]="forgetTwoForm" (ngSubmit)="forgetTwo()">
                   <div class="form-group">
                        <input type="text" class="form-control" placeholder="Code" formControlName="code" [ngClass]="{ 'is-invalid': submitted && f2.code.errors }">
                        <div *ngIf="submitted && f2.code.errors" class="invalid-feedback">
                            <div *ngIf="f2.code.errors.required">code is required</div>
                        </div>
                    </div>
                   <div class="form-group">
                       <a (click)="step1()">Enter a different email or phone number</a>
                   </div>
                   
                   <div class="d-flex flex-row-reverse">
                       <button class="btn btn-primary" type="submit">Next</button>
                       <button class="btn backbtn">Cancel</button>
                   </div>
               </form>
            </div>
            
        </div><!--box_area-->

        <div class="box_area recover_area" *ngIf="stepThree"><!--box_area-->
            <div class="box_header">
                <h2>Recover your username</h2>
                <span>{{forgetOneForm.value.firstName}} is associated with the following username(s)</span>
            </div>

            <div class="box_middle">
               <form>
                   <div class="user_name">
                       <span>Saymo**** {{forgetOneForm.value.firstName}}</span>
                   </div>
                   <div class="message">
                       <span>
                            We’ve hidden part of the username(s)for security reasons
                       </span>
                   </div>

                   <div class="d-flex flex-row-reverse">
                       <button class="btn btn-primary" type="submit">Sign in</button>
                   </div>
               </form>
            </div>
            
        </div><!--box_area-->

    </div><!--login_holder-->
    <app-footer></app-footer>
</div>
